body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}

/*Body of the whole page for controlling width while making it responsive */
.body-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Main Screen displaying Stay Home*/
.main-screen{
    height: 150vh;
    width: 100%;
    position: relative;
}
.main-screen img{
    height: 100%;
    width: 100%;
}

/*Circular object containing the link to another page*/
#circle{
    background-color: #D0021B;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 32.5%;
    right: 34%;
}
#circle:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#circle:active{
    transform: scale(13);
    transition: 0.3s;
}

#download{
    font-weight: bold;
    width: 100%;
    font-family: Helvetica;
}
#download p{
    text-align: right;
}
#download a{
    color: #cc0000;
    font-size: 26px;
    text-decoration: none;
    margin: 15px 10% 10px auto;
}
#download a:hover{
    color: #ff0000;
}
hr{
    width: 80%;
}

/**/
.banner{
    height: 410px;
    width: 80%;
    position: relative;
}
.banner-heading{
    color: #EEE3C1;
    font-weight: bold;
    font-size: 40px;
    font-family: Helvetica;
    position: absolute;
    left: 9%;
}
/*hourly-title contains the SVG generated graphic*/
.hourly-title{
    position: absolute;
    fill: #cc0000;
}
.hourly-title:hover{
    animation-duration: 0.6s;
    animation-name: hourly;
}
.banner-caption{
    display: flex;
    position: absolute;
    bottom: 0;
}
.banner-caption p{
    font-size: 20px;
    width: 19%;
    margin: 0px 5px 0px 5px;
    color: #EEE3C1;
    font-weight: bold;
    font-family: Calibri;
    word-spacing: 1px;
}

/*UI Screenshots*/
.ui{
    width: 80%;
    height: auto;
    position: relative;
}
#screenshots{
    display: flex;
}
#screenshots img{
    height: auto;
    width: 100%;
    margin: auto 7px auto 7px;
}

/*About App*/
.about{
    height: 320px;
    width: 80%;
    font-family: Helvetica;
    display: flex;
}
.about-download{
    font-size: 30px;
    width: 35%;
    font-weight: bold;
    position: relative;
}
.about-download:hover{
    font-size: 80px;
    transition: 0.3s;
}
.about-download a{
    text-decoration: none;
    color: #D0021B;
}
.about-download p{
    margin: 0px 1px 0px 0px;
    text-align: left;
    position: absolute;
    bottom: 10px;
}
.description{
    float: right;
    letter-spacing: 0.5px;
    width: 65%;
    height: 100%;
    font-size: 34px;
    color: #EEE3C1;
    font-weight: bold;
}

/*1 H Animation*/
.animation{
    height: 700px;
    width: 80%;
    position: relative;
}
.one img{
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0;
    margin: 0;
    animation-name: one;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.h img{
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    margin: 0;
    animation-name: h-transition;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/*How to*/
.how-to{
    font-family: Helvetica;
    font-weight: bold;
    position: relative;
    width: 80%;
    height: 800px;
}
#how{
    color: #cc0000;
    font-size: 320px;
    position: absolute;
    top: -7%;
    left: 11%;
}
#how p{
    margin: 0px;
}
#to{
    font-size: 310px;
    display: flex;
    margin: 0;
    position: absolute;
    right: 0%;
    top: 23%;
}
#to p:nth-child(1){
    color: #cc0000;
    margin: 0;
}
#to p:nth-child(2){
    color: #EEE3C1;
    margin: 0;
}
#hourly{
    color: #EEE3C1;
    font-size: 320px;
    position: absolute;
    bottom: 0;
    left: -5.5%;
}
#hourly p{
    margin: 0;
}

/*Feature 1*/
.feature1{
    height: 710px;
    width: 80%;
    display: flex;
    position: relative;
}
.iphone{
    position: absolute;
    left: 0;
    width: 33%;
    height: 100%;
    top: 0;
}
.iphone img{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.iphone video{
    position: absolute;
    height: 76.5%;
    width: 87%;
    left: 7%;
    top: 11.5%;
}
.featureone{
    right: 0;
    width: 67%;
    height: 100%;
    position: absolute;
    font-family: Helvetica;
    font-weight: bold;
}
.featureone p:nth-child(1){
    font-size: 230px;
    margin: 0px;
    position: absolute;
    top: 0px;
}
.featureone a{
    text-decoration: none;
    color: #cc0000;
}
.featureone p:nth-child(1):hover{
    font-size: 600px;
    transition: 7s;
}
.featureone p:nth-child(2){
    font-size: 38px;
    color: #EEE3C1;
    margin-top: 0;
    margin-left: 15px;
    position: absolute;
    bottom: 150px;
}
.featureone p:nth-child(3){
    font-size: 38px;
    color: #EEE3C1;
    margin-top: 0;
    margin-left: 15px;
    position: absolute;
    bottom: 45px;
}

/*Feature 2*/
.feature2{
    height: 700px;
    width: 80%;
    font-family: Helvetica;
    font-weight: bold;
    display: flex;
}
.featuretwo{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
.featuretwo a{
    text-decoration: none;
    color: #cc0000;
}
.featuretwo p:nth-child(1){
    font-size: 230px;
    margin: 0;
}
.featuretwo p:nth-child(1):hover{
    transition: 10s;
    transform: scaleX(-1);
}
.featuretwo p:nth-child(2){
    font-size: 35px;
    color: #EEE3C1;
    margin: 0;
}
.two-screenshots{
    width: 69%;
    height: 100%;
    display: flex;
}
.two-screenshots img{
    height: 100%;
    margin: 5px;
}

/*Feature 3*/
.feature3{
    height: 870px;
    width: 80%;
    font-family: Helvetica;
    font-weight: bold;
    position: relative;
}
.featurethree{
    position: relative;
    width: 100%;
    height: 55%;
}
.featurethree a{
    text-decoration: none;
    color: #cc0000;
}
.featurethree p:nth-child(1){
    font-size: 280px;
    margin: 0;
    position: absolute;
    right: 45%;
}
.featurethree p:nth-child(1):hover{
    transition: 10s;
    transform: scaleX(10);
}
.featurethree p:nth-child(2){
    color: #EEE3C1;
    font-size: 38px;
    margin: 0;
    position: absolute;
    bottom: 0;
}
.timeconsumed{
    color: #EEE3C1;
    font-size: 20px;
    margin: 50px auto auto auto;;
}
.tasks{
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #EEE3C1;
    margin: 3px;
}
.tasks:hover{
    background-color: #ff0000;
}

/*"Free" Caption*/
.free-section{
    position: relative;
    height: auto;
    width: 80%;
}
.free-section img{
    width: 100%;
    margin: 10px auto 10px auto;
}

/*Credits*/
.credits{
    height: 300px;
    width: 80%;
    display: flex;
    font-family: Helvetica;
    font-weight: bold;
}
.design, .code, .text{
    height: 100%;
    width: 33%;
    margin: 5px;
    position: relative;
}
.design a, .code a, .text a{
    text-decoration: none;
    color: #cc0000;
}
.design p:nth-child(1), .code p:nth-child(1), .text p:nth-child(1){
    font-size: 35px;
    margin: 0;
    position: absolute;
    bottom: 35px;
}
.design p:nth-child(1):hover, .code p:nth-child(1):hover, .text p:nth-child(1):hover{
    transition: 0.5s;
    transform: scaleY(20);
}
.design p:nth-child(2), .code p:nth-child(2), .text p:nth-child(2){
    color: #EEE3C1;
    font-size: 25px;
    margin: 0;
    position: absolute;
    bottom: 0;
}

/*Footer*/
.footer{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    width: 80%;
    height: auto;
}
.footer p{
    margin: 0;
}
.footer a{
    text-decoration: none;
    color: #EEE3C1;
}
.footer a:hover{
    transition: 10s;
    letter-spacing: 15px;
    color: #cc0000;
}

/*Keyframes*/
@keyframes hourly{
    0%{
        fill: #cc0000;
    }
    25%{
        fill: #FFFFFF;
    }
    50%{
        fill: #ce8181;
    }
    75%{
        fill: #ce4b4b;
    }
    100%{
        fill: #cc0000;
    }
}

@keyframes one{
    0%{
        right: 0;
        bottom: 0;
        }
    15%{
        height: 50%;
        bottom: 0;
        right: 0;
        }
    30%{
        height: 50%;
        right: 65%;
        bottom: 0;
    }
    45%{
        height: 100%;
        right: 62%;
        bottom: 0;
    }
    60%{
        height: 50%;
        right: 62%;
        bottom: 50%;
    }
    85%{
        height: 50%;
        right: 0;
        bottom: 50%;
    }
    100%{
        height: 100%;
        right: 0%;
        bottom: 0;
    }
}

@keyframes h-transition{
    0%{
        left: 0;
        top: 0;
        height: 100%;
    }
    15%{
        height: 50%;
        top: 0;
        left: 0;
    }
    30%{
        height: 50%;
        left: 45%;
        top: 0;
    }
    45%{
        height: 100%;
        left: 45%;
        top: 0;
    }
    60%{
        height: 50%;
        left: 45%;
        top: 50%;
    }
    85%{
        height: 50%;
        left: 0;
        top: 50%;
    }
    100%{
        height: 100%;
        left: 0%;
        top: 0;
    }
}

@media (max-width:1294px){
    .about{
        height: 290px;
    }
    .description{
        font-size: 30px;
    }
    .about-download:hover{
        font-size: 70px;
    }
    .how-to{
        height: 750px;
    }
    #how{
        font-size: 300px;
    }
    #to{
        font-size: 290px;
    }
    #hourly{
        font-size: 300px;
        left: 0;
    }
    .feature1{
        height: 650px;
    }
    .featureone p:nth-child(1){
        font-size: 200px;
    }
    .featureone p:nth-child(2), .featureone p:nth-child(3){
        font-size: 35px;
    }
    .feature2{
        height: 650px;
    }
    .featuretwo p:nth-child(1){
        font-size: 200px;
    }
    .featuretwo p:nth-child(2){
        font-size: 32px;
    }
    .featurethree p:nth-child(2){
        font-size: 35px;
    }
}

@media (max-width:1100px){
    .main-screen{
        height: 135vh;
    }
    #circle{
        bottom: 31%;
        right: 31%;
    }
    .banner{
        height: 360px;
    }
    .ui{
        height: auto;
    }
    .about{
        height: 275px;
    }
    .description{
        font-size: 26px;
    }
    .about-download:hover{
        font-size: 60px;
    }
    .animation{
        height: 600px;
    }
    .how-to{
        height: 685px;
    }
    #how{
        font-size: 270px;
    }
    #to{
        font-size: 260px;
    }
    #hourly{
        font-size: 270px;
    }
    .feature1{
        height: 600px;
    }
    .featureone p:nth-child(1){
        font-size: 170px;
    }
    .featureone p:nth-child(2), .featureone p:nth-child(3){
        margin-right: 0;
        font-size: 31px;
    }
    .feature2{
        height: 600px;
    }
    .featuretwo p:nth-child(1){
        font-size: 190px;
    }
    .featuretwo p:nth-child(2){
        font-size: 27px;
    }
    .featurethree p:nth-child(1){
        font-size: 250px;
    }
    .featurethree p:nth-child(2){
        font-size: 33px;
    }
    .design p:nth-child(1), .code p:nth-child(1), .text p:nth-child(1){
        font-size: 32px;
    }
    .design p:nth-child(2), .code p:nth-child(2), .text p:nth-child(2){
        font-size: 23px;
    }
    .footer{
        font-size: 35px;
    }
    .footer a:hover{
        letter-spacing: 12px;
    }
}

@media (max-width:952px){
    #circle{
        height: 135px;
        width: 135px;
        bottom: 32%;
        right: 29%;
    }
    .banner{
        height: 320px;
    }
    .banner-heading{
        font-size: 35px;
    }
    .banner-caption p{
        font-size: 17px;
    }
    .about{
        height: 250px;
    }
    .description{
        font-size: 22px;
    }
    .about-download:hover{
        font-size: 50px;
    }
    .how-to{
        height: 610px;
    }
    #how{
        font-size: 240px;
    }
    #to{
        font-size: 230px;
    }
    #hourly{
        font-size: 240px;
    }
    .feature1{
        height: 500px;
    }
    .featureone p:nth-child(1){
        font-size: 140px;
    }
    .featureone p:nth-child(2){
        margin-right: 0;
        font-size: 27px;
        bottom: 70px;
    }
    .featureone p:nth-child(3){
        margin-right: 0;
        bottom: 0;
        font-size: 27px;
    }
    .feature2{
        height: 530px;
    }
    .featuretwo p:nth-child(1){
        font-size: 160px;
    }
    .featuretwo p:nth-child(2){
        font-size: 24px;
    }
    .featurethree p:nth-child(1){
        font-size: 230px;
    }
    .featurethree p:nth-child(2){
        font-size: 30px;
    }
    .credits{
        height: 250px;
    }
    .design p:nth-child(1), .code p:nth-child(1), .text p:nth-child(1){
        font-size: 29px;
    }
    .design p:nth-child(2), .code p:nth-child(2), .text p:nth-child(2){
        font-size: 20px;
    }
}

@media (max-width:800px){
    .main-screen{
        height: 115vh;
    }
    #circle{
        height: 110px;
        width: 110px;
    }
    .banner{
        height: 250px;
    }
    .banner-heading{
        font-size: 28px;
    }
    .banner-caption p{
        font-size: 13px;
    }
    .about{
        height: 215px;
    }
    .description{
        font-size: 20px;
        word-spacing: 0;
        letter-spacing: 0;
    }
    .about-download:hover{
        font-size: 40px;
    }
    .animation{
        height: 500px;
    }
    .how-to{
        height: 540px;
    }
    #how{
        font-size: 210px;
    }
    #to{
        font-size: 200px;
    }
    #hourly{
        font-size: 210px;
    }
    .feature1{
        height: 450px;
    }
    .featureone p:nth-child(1){
        font-size: 110px;
    }
    .featureone p:nth-child(2){
        margin-right: 0;
        font-size: 24px;
        bottom: 80px;
    }
    .featureone p:nth-child(3){
        margin-right: 0;
        bottom: 0;
        font-size: 24px;
    }
    .feature2{
        height: 480px;
    }
    .featuretwo p:nth-child(1){
        font-size: 130px;
    }
    .featuretwo p:nth-child(2){
        font-size: 20px;
    }
    .feature3{
        height: 850px;
    }
    .featurethree p:nth-child(1){
        font-size: 200px;
    }
    .featurethree p:nth-child(2){
        font-size: 27px;
    }
    .timeconsumed{
        font-size: 15px;
    }
    .credits{
        height: 200px;
    }
    .design p:nth-child(1), .code p:nth-child(1), .text p:nth-child(1){
        font-size: 25px;
    }
    .design p:nth-child(1):hover, .code p:nth-child(1):hover, .text p:nth-child(1):hover{
        transform: scaleY(5);
    }
    .design p:nth-child(2), .code p:nth-child(2), .text p:nth-child(2){
        font-size: 17px;
    }
    .footer{
        font-size: 29px;
    }
    .footer a:hover{
        letter-spacing: 8px;
    }
}

@media (max-width:700px){
    .about{
        height: 195px;
    }
    .description{
        font-size: 18px;
    }
    .about-download{
        font-size: 25px;
    }
    .about-download:hover{
        font-size: 33px;
    }
    .how-to{
        height: 440px;
    }
    #how{
        font-size: 170px;
    }
    #to{
        font-size: 160px;
    }
    #hourly{
        font-size: 170px;
    }
    .feature1{
        height: 410px;
    }
    .featureone p:nth-child(1){
        font-size: 80px;
    }
    .featureone p:nth-child(2){
        margin-right: 0;
        font-size: 20px;
        bottom: 70px;
    }
    .featureone p:nth-child(3){
        margin-right: 0;
        bottom: 0;
        font-size: 20px;
    }
    .feature2{
        height: 400px;
    }
    .featuretwo p:nth-child(1){
        font-size: 100px;
    }
    .featuretwo p:nth-child(2){
        font-size: 16px;
    }
    .feature3{
        height: 800px;
    }
    .featurethree p:nth-child(1){
        font-size: 140px;
    }
    .featurethree p:nth-child(2){
        font-size: 24px;
    }
}

@media (max-width:600px){
    .main-screen{
        height: 90vh;
    }
    #circle{
        height: 90px;
        width: 90px;
        bottom: 33.5%;
        right: 27.5%;
    }
    .banner{
        height: 200px;
    }
    .banner-heading{
        font-size: 23px;
    }
    .banner-caption p{
        font-size: 10px;
    }
    .about{
        height: auto;
    }
    .description{
        font-size: 16px;
    }
    .about-download{
        font: 23px;
        word-spacing: auto;
    }
    .about-download:hover{
        font-size: 29px;
    }
    .animation{
        height: 280px;
    }
    .how-to{
        height: 320px;
    }
    #how{
        font-size: 130px;
    }
    #to{
        font-size: 120px;
    }
    #hourly{
        font-size: 130px;
    }
    .footer{
        font-size: 23px;
    }
    .footer a:hover{
        letter-spacing: 5px;
    }
}